<section class="section">
    <div class="tile is-ancestor is-vertical" id="fight_table">
        <div class="tile" id="event_name">
            <div class="tile title has-text-center" id="header"></div>
        </div>

        <div class="tile is-parent">
            <div class="tile level-item is-right">
                <div class="has-text-weight-bold is-size-1 gold-text"> Winners</div>
            </div>
            <div class="tile level-item is-left">
                <div class="has-text-weight-bold is-size-1 red-text">Losers</div>
            </div>
          </div>
    </div>
</section>