<section class="section">
    <div class="tile is-ancestor is-vertical" id="fight_table">
        <div class="tile" id="event_name">
            <div class="tile title has-text-center" id="header"></div>
        </div>

        <div class="tile is-parent level-left">
            <div class="level-item">
                <div class="box has-text-weight-bold has-background-success has-text-black"> Winner</div>
            </div>
            <div class="level-item">
                <div class="box has-text-weight-bold has-background-danger has-text-black">Loser</div>
            </div>
          </div>
    </div>
</section>