<!DOCTYPE html>
<html lang="en">
    <meta charset="utf08">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>UFC Fight Predictor</title>
        <script src="https://kit.fontawesome.com/1039dec531.js" crossorigin="anonymous"></script>


        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='bulma.css') }}">
    </head>

    {% include "_includes/header.html" %}
    <body>
        {% include "_includes/fight_table_beta.html" %}
    </body>
    {% include "_includes/footer.html" %}
    {% include "_includes/scripts.html" %}
</html>