html *{
    font-family: 'Fjalla One';
}
body{
    background-color: black;
}

/* fjalla-one-regular - latin */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/fjalla-one-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Fjalla One'), local('FjallaOne-Regular'),
       url('fonts/fjalla-one-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/fjalla-one-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fjalla-one-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/fjalla-one-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fjalla-one-v7-latin-regular.svg#FjallaOne') format('svg'); /* Legacy iOS */
}

#banner{
    background-image: url("img_3137.jpg");
    background-position: 90%, 30%;
    background-size: 100%;
    background-attachment: scroll;
    fill-opacity:0.3;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
.h1{
    mix-blend-mode: screen;
}

.gold-text{
    color: #cab228ea;
}
.red-text{
    color: #cc1c1cea;
}
.gold-background{
    background-color: #cab228ea !important;
}

.red-background{
    background-color:#cc1c1cea !important;
}

.header-gradient{
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(240, 0, 0), rgb(165, 147, 45));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}